body {
    background-image: url("../media/f1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.539);
    color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.343);
    backdrop-filter: blur(10px);
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    padding: 1%;
    height: auto;
    width: 98%;
}

.contenedor h2 {
    width: 100;
}

.opciones {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 30px;
    justify-content: space-between;
}

.op {
    border-radius: 8px;
    padding: 5px;
    border: none;
    background-color: black;
    color: azure;
}

.op:hover {
    background-color: azure !important;
    color: #2c3e50 !important;
}

.caja {
    height: auto;
    background-color: #2c3e50;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.intrusivo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: #2c3e5076;
    backdrop-filter: blur(10px);
    /*padding: 20%;*/
}

.menu_plantas {
    width: 300px;
    height: 300px;
    background-color: bisque;
}

#contenedor-macetas {
    background-color: rgba(172, 255, 203, 0.183);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.47);
    width: 49%;
    height: 85vh;
}

#mapa {
    background-color: rgba(172, 255, 203, 0.183);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.769);
    width: 49%;
    height: 85vh;
}

.mexico-shape {
    fill: #6cfc766e;
    stroke: #ffffff;
    stroke-width: 0.1;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.3));
}

@media (max-width: 576px) {}